@import url('https: //fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
		
}
section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(bg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo{
	position: relative;
	width: 100px;
	height: 120px;
	
}
header ul{
	position: relative;
	display: flex;
	margin-left: 100px;
	font-weight: 100px;
	font-size: large;

}
header ul li{
	list-style: none;
	float: right;
}
header ul li a{
	display: inline-block;
	font-weight: bold;
	margin-left: 40px;
	text-decoration: none;
	color: #fff;
}
header ul li a:hover
{
	color:rgb(255, 0, 0)
}

.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 200px;
}
.content .text{
	position: relative;
	max-width: 600px;
	margin-left: 200px;
	align-content: center;
}
.content .text h1{
	
	font-size: 3em;
	line-height: 1em;
	font-weight: 900;
	margin-right: 0px;
	color: #fff;
	margin-bottom:10px;
	text-align: left;
}
.content .text h2{
	
	font-size: 3em;
	line-height: 1em;
	font-weight: 900;
	margin-right: 0px;
	color: #fff;
	margin-bottom:10px;
	text-align: left;
}
.content .text h3{
	font-size: 2em;
	line-height: 1em;
	font-weight: 600;
	margin-top: 30px;
    color: #fff;
    text-align: left;
	padding-bottom: 10px;
}
.content .text p{
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 20px;
	letter-spacing: 1px;
    color: #fff;
    text-align: left;

}
.content .text a button{
	display: inline-block;
	margin-top: 30px;
	padding: 10px 20px;
	
	color: rgb(6, 6, 6);
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
    margin-left: 3px;
}
.content .text a button:hover
{
	color:rgb(255, 0, 0)
}

